@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald',  sans-serif;
    background: rgb(126, 199, 97);
    
}
.box{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 300px;
     height: 300px;
     box-sizing: border-box;
     border-radius: 10px; 
     background: rgb(24, 23, 88);
}
.box  h3{
    position: relative;
    color: #ffffff;
    text-align: center;
    background: #169fff;
    left: -15px;
    margin: 40px 0 0;
    padding: 5px 0;
    font-size: 36px;
    text-transform: uppercase;
    width: 330px;
    text-shadow: 0 5px 10px  rgba(0, 0, 0, .5);

}
.box h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background: darkblue;
    transform-origin: top left;
    transform: skewY(-50deg);
    transition: transform .5s;
    z-index: -1;
}
.box:hover h3::before{
    transform: skewY(50deg)
}
.box h3::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: darkblue;
    transform-origin: top right;
    transform: skewY(-50deg);
    transition: transform .5s;
    z-index: -1;
}
.box:hover h3::after{
    transform: skewY(50deg)
}
.box  p{
    padding: 0  20px;
    color: #ffffff;
    text-align: center;

}